a {
    text-decoration: none;
}

.nav_link {
    color:cornflowerblue;
    font-size: 16px;
    line-height: 20px;    
}

.title {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;

}

