body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
  }

a { 
    text-decoration: none; 
}

.menu_link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.main_heading {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.paragraph-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.section-heading {
    color: coral;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}